@import './base.scss';

form {
  width: min(80vw, 24rem);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 2rem;
  position: relative;

  .searchbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    > * {
      padding: 0.5rem;
    }

    border-radius: 0.25rem;

    input[type='text'] {
      border-radius: 0.25rem 0 0 0.25rem;
      flex: 1;
      display: block;
    }
    button[type='submit'] {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }

  .settings {
    width: 100%;

    summary {
      color: var(--fg-alt);
      font-style: italic;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;

      list-style: none;
      &::marker {
        display: none;
      }

      &::after {
        content: 'Options';
      }
    }
    &[open] {
      summary:after {
        content: 'Close';
      }
    }

    > label {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;
    }

    > * + * {
      margin-top: 1rem;
    }
  }
}

input[type='checkbox'] {
  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + label {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + label {
    outline: 0;
    display: block;
    width: 4em;
    min-width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
    }

    &:before {
      display: none;
    }
    background: var(--bg-alt);
    border-radius: 2em;
    padding: 2px;
    transition: all 0.2s ease;
    &:after {
      left: 0;
      border-radius: 50%;
      background: var(--bg);
      transition: all 0.2s ease;
      @include ms-depth(6);
    }
  }

  &:checked + label {
    background: $green;

    &:after {
      left: 50%;
    }
  }
}

.card {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  padding: 0.75rem;
  align-self: stretch;
  border-radius: 0.5rem;

  object,
  object > img {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 100%;
    border-radius: 100%;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &.Online,
  &.Away,
  &.Offline {
    border-left: 0.5rem solid $gray;
  }
  &.Online {
    border-left-color: $green;
  }

  &:first-child {
    margin-top: 4rem;
  }
  &:last-child {
    margin-bottom: 4rem;
  }
}
