doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/style.css" type="text/css")
    link(rel="apple-touch-icon" href="/icon.png")
    meta(name="apple-mobile-web-app-capable" content="yes")

    title
      block title
        | Xbox Friends

  body 
    main
      block content

    footer 
      a(href="https://www.github.com/cjcarrick/xbox-friends") Source