extends index 

block content
  if error
    .banner= error 

  form(action="/" method="get") 

    .searchbar
      input(type="text" name="gt" placeholder="Enter Gamertag")
      button(type="submit") Search

    details.settings
      summary

      label.dropdown
        | Sort order
        select(name="sortOrder") 
          option(value="name" selected=(options.sortOrder == 'name')) Name 
          option(value="game" selected=(options.sortOrder == 'game')) Game
          option(value="lastOnline" selected=(options.sortOrder == 'lastOnline')) Default

      label.dropdown
        | Indicator style
        select(name="indicatorStyle") 
          option(value="border" selected=(options.indicatorStyle == 'border')) Border
          option(value="text" selected=(options.indicatorStyle == 'text')) Text
          option(value="both" selected=(options.indicatorStyle == 'both')) Both

      label.toggle
        | Only show online friends
        input#cb1(type="checkbox" name="onlineOnly" checked=(options.onlineOnly == 'on')) 
        label(for="cb1")

      label.toggle
        | Show what games friends are or were playing
        input#cb2(type="checkbox" name="games" checked=(options.games == 'on'))
        label(for="cb2")

      label.toggle
        | Show how long ago friends were online
        input#cb3(type="checkbox" name="lastSeenTime" checked=(options.lastSeenTime == 'on'))
        label(for="cb3")

      label.toggle
        | Show how long friends have been online for
        input#cb4(type="checkbox" name="playingTime" checked=(options.playingTime == 'on'))
        label(for="cb4")

      label.toggle
        | Show profile pictures
        input#cb5(type="checkbox" name="icons" checked=(options.icons == 'on'))
        label(for="cb5")

      label.toggle
        | Show self
        input#cb6(type="checkbox" name="showSelf" checked=(options.showSelf == 'on')) 
        label(for="cb6")
